<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/freeboard_style.css" />
  <!-- CSS 파일 임포트 -->
</head>
<div>
  <h1><%= locals.title%></h1>
  <form action="/freeboard/edit/<%= data.id %>" method="POST">
    <input type="text" name="title" placeholder="<%= data.title %>" />
    <input type="textarea" name="content" placeholder="<%= data._content %>" />
    <input type="file" name="Image" placeholder="<%= data.Image %>" />
    <button type="submit">수정</button>
    <a href="/freeboard">뒤로가기</a>
  </form>
</div>

<!-- views/user/freeboard/edit.ejs -->
