<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/freeboard_style.css" />
  <!-- CSS 파일 임포트 -->
</head>
<div>
  <h3><%= data.title %></h3>
  <p><%= data.content %></p>
  <p><%= data.image %></p>
  <p>작성일: <%= freeboard.date %></p>
  <button onclick="location.href='/freeboard'">목록으로</button>
  <button onclick="location.href='/freeboard/edit/:id'">수정하기</button
  ><!--로그인 시 세션에 저장된 고유 식별에 따라 버튼 보이기-->
  <form
    action="/freeboard/delete/:<%= data.id %>"
    method="POST"
    onsubmit="return confirm('정말 삭제하시겠습니까?');"
  >
    <button type="submit">삭제</button>
  </form>
</div>

<!-- views/user/freeboard/freeboard-detail.ejs -->
