<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/notice_style.css"> <!-- CSS 파일 임포트 -->
  </head>

<div >
    <h3><%= data.title %></h3>
    <p><%= data.content %></p>
    <% if (data.image) { %>
        <img src="img/<%= data.image %>" alt="Uploaded Image">
        <% } %>
    <p>작성일: <%= data.post_date %></p>
    <p>작성자: <%= data.createBy %></p>
    <button onclick="location.href='/notice'">목록으로</button>
</div>