<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/communityMain_style.css"> <!-- CSS 파일 임포트 -->
</head>

<body>
    <div id="community">
        <aside class="category-menu"> 
            <h3>카테고리</h3>
            <ul>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/qna">QnA</a></li>
                <li><a href="/freeboard">자유게시판</a></li>
            </ul>
        </aside>

        <div id="cover">
        <h3>공지사항</h3>
        <div class="main-content">
            <form action="/notice" method="GET">
                <input type="text" name="search" value="<%= searchQuery %>" placeholder="검색">
                <select name="type">
                    <option value="title" <%= typeQuery === 'title' ? 'selected' : '' %>>제목</option>
          <option value="createBy" <%= typeQuery === 'createBy' ? 'selected' : '' %>>작성자</option>
          <option value="title||createBy" <%= typeQuery === 'title||createBy' ? 'selected' : '' %>>제목+작성자</option>
                </select>
                <button type="submit">검색</button>
            </form>
    
           
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(e1,index){ %>
                        <tr>
                            <td>
                                <%=index +1 %>
                            </td>
                            <td class="notice-title"><a href="/notice/<%= e1.id %>">
                                    <%= e1.title %>
                                </a></td>
                            <td>
                                <%= e1.createBy %>
                            </td>
                            <td>
                                <%= e1.post_date.toISOString().split('T')[0] %>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</body>