<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>시설 수정</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <form
    id="facilitiesedit"
    style="height: 100vh"
    class="container d-flex flex-column justify-content-center"
    action="/admin/adminstaffedit/<%=Data2.staff_id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <h2 class="text-center">Edit Facility</h2>
    <input type="hidden" name="id" value="<%= Data2.staff_id %>">
    <div class="d-flex justify-content-center">
      직원 이름<input name="name" class="w-50 form-control text-center" type="text" value="<%= Data2.name %>" />
    </div>
    <div class="d-flex justify-content-center">
      직원 직급<input name="role" class="w-50 form-control text-center" type="text" value="<%= Data2.role %>" />
    </div>
    <div class="d-flex justify-content-center">
      직원 경력<input name="contact_info" class="w-50 form-control text-center" type="text" value="<%= Data2.contact_info %>" />
    </div>
    <div class="d-flex justify-content-center mt-3">
      <label for="image">Upload Image:</label>
      <input name="image" class="form-control-file" type="file" />
    </div>
    <input type="hidden" name="existingPhoto" value="<%= Data2.photo %>">
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">수정하기</button>
    </div>
  </form>
  
  <form id="delete" action="/admin/delete2" method="post">
    <input type="hidden" name="id" value="<%= Data2.staff_id %>">
    <div class="text-center mt-3">
      <button type="submit" form="delete" class="btn m-3 btn-danger">삭제</button>
    </div>
  </form>
</body>
</html>
