<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/admin_notice_detail_style.css"> <!-- CSS 파일 임포트 -->
</head>
<div id="detail">
    <h3><%= data.title %></h3>
    <div id="cover">
    <p><%= data.content %></p>
    <img src="/img/<%= data.image %>" alt="Uploaded Image">
    <p>작성일: <%= data.post_date %></p><br>
    <p>작성자: <%= data.createBy %></p><br>
    <div id="btnBox">
    <button id="backBtn" onclick="location.href='/admin/notice'">목록으로</button>
    <button id="editBtn" onclick="location.href='/admin/notice/edit/<%= data.id%>'">수정</button>
    <form action="/admin/notice/delete/<%= data.id %>" method="POST" onsubmit="return confirm('정말 삭제하시겠습니까?');">
        <button id="delBtn" type="submit">삭제</button>
      </div>
    </form>
    </div>
</div>