<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/notice_style.css"> <!-- CSS 파일 임포트 -->
</head>
<body>
    <!-- 카테고리 메뉴 -->
    <aside class="category-menu">
        <h3>카테고리</h3>
        <ul>
            <li><a href="/admin/notice">공지사항</a></li>
            <li><a href="/admin/QnA">QnA</a></li>
            <li><a href="/admin/freeboard">자유게시판</a></li>
        </ul>
    </aside>

    <div id="cover">
    <h3>공지사항</h3>
    <!-- 메인 콘텐츠 -->
    <div id="main-content">
        <!-- 검색 폼 -->
        <form class="search-form" action="/admin/notice" method="GET">
            <div class="search-container">
                <input type="text" name="search" placeholder="제목 검색">
                <button type="submit">검색</button>
            </div>
        </form>

        <!-- 공지사항 목록 테이블 -->
        <table class="notice-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(e1) { %>
                <tr>
                    <td><%= e1.id %></td>
                    <td class="notice-title"><a href="/admin/notice/detail/<%= e1.id %>"><%= e1.title %></a></td>
                    <td><%= e1.post_date %></td>
                    <td><%= e1.createBy %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>

        <!-- 글쓰기 버튼 -->
        <div class="write-button">
            <button onclick="location.href='/admin/notice/add'">글쓰기</button>
        </div>
    </div>
</div>
</body>
</html>
