<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin_mypage_style.css">
  <title>사용자 정보</title>
</head>

<body>
  <div id="adminMyPage">
    <h2>유저 관리</h2>
    <div id="tableCover">
      <table>
        <thead>
          <tr>
            <th>견주 이름</th>
            <th>견주 연락처</th>
            <th>강아지 이름</th>
            <th>상세보기</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.user_name %></td>
            <td><%= user.user_phone %></td>
            <td><%= user.pet_name %></td>
            <td>
              <form action="/admin/userlist/detail/<%= user.u_id %>" method="get">
                <button type="submit">상세보기</button>
              </form>
            </td>
            <td>
              <form action="/admin/userlist/delete/<%= user.u_id %>" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                <button type="submit">삭제</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
