<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/qna_style.css"> <!-- CSS 파일 임포트 -->
</head>
<body>
  <div>
    <h1><%= locals.title %></h1>
    <form action="/qna/edit/<%= question.question_id %>" method="POST">
      <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" value="<%= question.title %>" required>
      </div>
      <div>
        <label for="question">내용</label>
        <textarea id="question" name="question" required><%= question.question %></textarea>
      </div>
      <button type="submit">수정</button>
      <button type="button" onclick="location.href='/qna/detail/<%= question.question_id %>'">뒤로가기</button>
    </form>
  </div>
</body>
</html>