<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/facilitiesEdit_style.css" />
    <title>수정 페이지</title>
  </head>

  <body>
    <form id="delete" action="/delete" method="post"></form>
    <form
      id="edit"
      style="height: 100vh"
      class="container d-flex flex-column justify-content-center"
      action="/edit"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateForm()"
    >
      <input
        name="facility_name"
        class="text-center form-control"
        value="<%= Data.facility_name %>"
        type="text"
        required
      />

      <input
        name="main_facilities"
        class="text-center form-control mt-3"
        placeholder="주요 시설"
        value="<%= Data.main_facilities %>"
        type="text"
        required
      />

      <input name="id" type="hidden" value="<%= Data.id %>" />
      <input name="id" form="delete" type="hidden" value="<%= Data.id %>" />
      <input name="existingPhoto" type="hidden" value="<%= Data.photo %>" />
      <div class="text-center mt-3">
        <% if (Data.photo) { %>
        <img
          id="profile-img"
          src="/<%= Data.photo %>"
          alt="Profile Image"
          class="profile-img"
        />
        <% } else { %>
        <p>No Image</p>
        <% } %>
        <input
          type="file"
          name="image"
          class="form-control-file mt-3"
          onchange="previewImage(event)"
        />
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-warning">수정</button>
        <button type="submit" form="delete" class="btn m-3 btn-danger">
          삭제
        </button>
      </div>
    </form>

    <script>
      function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
          const output = document.getElementById("profile-img");
          output.src = reader.result;
          output.classList.remove("hidden");
        };
        reader.readAsDataURL(event.target.files[0]);
      }

      function validateForm() {
        const nameField = document.forms["edit"]["facility_name"].value;
        const featuresField = document.forms["edit"]["main_facilities"].value;
        if (nameField == "" || featuresField == "") {
          alert("모든 필드를 채워야 합니다");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>

<!-- views/admin/facilities/adminFacilitiesEdit.ejs -->
