<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직원 및 시설 소개</title>
    <link rel="stylesheet" href="/css/admin_facilitiesMain_style.css">
</head>

<body>
    <h2>직원소개</h2>
    <div class="container">
        <div class="employee-container">
            <table class="employee-table">
                <tr>
                    <% staff.forEach((employee, index) => { %>
                        <td>
                            <div class="employee-card">
                                <img src="/img/<%= employee.photo %>" alt="Profile Image" class="facility-image">
                                <ul class="employee-info">
                                    <li>이름: <%= employee.name %></li>
                                    <li>직급: <%= employee.role %></li>
                                    <li>경력: <%= employee.contact_info %></li>
                                </ul>
                                
                                <button onclick="location.href='/admin/adminstaffedit/<%= employee.staff_id %>'" class="w-50 mb-5 mt-2 btn btn-success">
                                    수정/삭제하기
                                </button>
                            </div>
                        </td>
                        <% if ((index + 1) % 5 === 0) { %>
                            </tr><tr>
                        <% } %>
                    <% }); %>
                </tr>
            </table>
        </div>
        <button onclick="location.href='/admin/adminstaffcreate'" class="w-50 mb-5 mt-2 btn btn-success">
            직원추가
          </button>
    </div>

    <h2>시설소개</h2>
    <div class="container facility-container">
        <table class="facility-table">
            <tr>
                <% facilities.forEach((facility, index) => { %>
                    <td>
                        <div class="facility-card">     
                            <img src="/img/<%= facility.facility_photo %>" alt="Uploaded Image" class="facility-image">
                            <ul class="facility-info">
                                <li>시설 이름: <%= facility.facility_name %></li>
                                <li>주요 시설: <%= facility.main_facilities %></li>
                            </ul>
                            
                            <button onclick="location.href='/admin/adminfacilitiesedit/<%= facility.id %>'" class="w-50 mb-5 mt-2 btn btn-success">
                                수정/삭제하기
                            </button>
                        </div>
                    </td>
                    <% if ((index + 1) % 3 === 0) { %>
                        </tr><tr>
                    <% } %>
                <% }); %>
            </tr>
        </table>
    </div>
    <div class="btnBox">
        <button onclick="location.href='/admin/adminfacilitiescreate'" class="w-50 mb-5 mt-2 btn btn-success">
          시설추가
        </button>

    </div>
</body>
</html>
