<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직원 및 시설 소개</title>
    <link rel="stylesheet" href="/public/css/admin_facilities_style.css">
</head>

<body>
    <h2>직원소개</h2>
    <div class="container">
        <div class="employee-container">
            <table class="employee-table">
                <tr>
                    <% staff.forEach((employee, index) => { %>
                        <td>
                            <div class="employee-card">
                                <img src="<%= employee.photo || '/path/to/default/image.jpg' %>" alt="Profile Image" class="facility-image">
                                <div class="employee-name"><%= employee.name %></div>
                                <ul class="employee-info">
                                    <li>직급: <%= employee.role %></li>
                                    <li>연락처: <%= employee.contact_info %></li>
                                </ul>
                            </div>
                        </td>
                        <% if ((index + 1) % 3 === 0) { %>
                            </tr><tr>
                        <% } %>
                    <% }); %>
                </tr>
            </table>
        </div>
    </div>

    <h2>시설소개</h2>
    <div class="container facility-container">
        <% facilities.forEach((facility) => { %>
            <div class="facility-card">
                <img src="<%= facility.photo || '/path/to/default/image.jpg' %>" alt="Facility Image" class="facility-image">
                <div class="facility-name"><%= facility.facility_name %></div>
                <ul class="facility-info">
                    <li>주요 시설: <%= facility.main_facilities %></li>
                </ul>
                <a class="btn btn-warning" href="/admin/adminfacilitiesedit/<%= facility.id %>">수정/삭제</a>
            </div>
        <% }); %>
    </div>
    <div class="btnBox">
        <button onclick="location.href='/admin/adminfacilitiescreate'" class="w-50 mb-5 mt-2 btn btn-success">
          글쓰기
        </button>
        <button onclick="location.href='/admin/adminfacilitiesedit'" class="w-50 mb-5 mt-2 btn btn-success">
            수정하기
        </button>
        <button>
            삭제하기
        </button>
    </div>
</body>
</html>
