<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/admin_class_list_style.css"> <!-- CSS 파일 임포트 -->
</head>

<body>
    <div id="register_list">
        <h3>
            <%= locals.title %>
        </h3>
        <div id="cover">
            <form action="/admin/classRegList" method="GET">
                <label>
                    <input type="text" name="search" placeholder="검색">&nbsp; 
                    <select name="type">
                        <option value="no">no</option>
                        <option value="owner_name">신청자</option>
                        <option value="no||owner_name">no+신청자</option>
                    </select> &nbsp; 
                    <button type="submit">검색</button>
                </label>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>no</th>
                        <th>신청자</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    <% locals.classReg.forEach((reg)=> { %>
                        <tr>
                            <td>
                                <%= reg.id %>
                            </td>
                            <td><a href="/admin/classRegList/detail/<%= reg.id %>">
                                    <%= reg.owner_name %>
                                </a></td>
                            <td>
                                <%= reg.created_at %>
                            </td>
                            <td>
                                <%= reg.status %>
                            </td> <!-- 상태 표시 -->
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>