<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/application_style.css"> <!-- CSS 파일 임포트 -->
</head>
<div class="FreeBoard-box">
    <h3>커뮤니티</h3>
    <table >
        <thead>
            <tr>
                <th>no</th>
                <th>신청자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <%= class-reg.forEach((reg, index) => { %>
            <tr>
                <td><%= reg.id %></td>
                <td><a href="/class-reg/<%= reg.id %>"><%= reg.createBy %></a></td>
                <td><%= reg.post_date %></td>
            </tr>
            <% }) %>
            <form action="/class-reg" method="GET" >
                <input type="text" name="search" placeholder="검색">
                <select name="type">
                  <option value="no">no</option>
                  <option value="createBy">신청자</option>
                  <option value="no||createBy" default="default">no+신청자</option>
                </select>
                <button type="submit">검색</button>
        </tbody>
    </table>
</div>