<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시물 리스트 - 유저</title>
    <link rel="stylesheet" href="/css/postlist.css" />
  </head>
  <body>
    <div id="content">
      <div class="search-form">
        <form action="/dashboard/search" method="GET">
          <input
            type="text"
            id="searchInput"
            name="keyword"
            placeholder="검색어를 입력하세요"
          />
          <input type="submit" value="검색" class="btn" />
        </form>
      </div>

      <div class="class-container">
        <div class="class-box">
          <h3>오전 클래스</h3>
          <a href="/dashboard/user/class/u_morningClassPosts">오전 클래스</a>
          <ul class="user-posts">
            <% if (data.morning) { %> <% data.morning.forEach(post => { %>
            <li>
              <a href="/userdashboard/<%= post.dog_id %>">
                <%= post.pet_name %>
              </a>
            </li>
            <% }) %> <% } %>
          </ul>
        </div>

        <div class="class-box">
          <h3>오후 클래스</h3>
          <a href="/dashboard/user/class/a_afternoonClassPosts">오후 클래스</a>

          <ul class="user-posts">
            <% if (data.afternoon) { %> <% data.afternoon.forEach(post => { %>
            <li>
              <a href="/userdashboard/<%= post.dog_id %>">
                <%= post.pet_name %>
              </a>
            </li>
            <% }) %> <% } %>
          </ul>
        </div>

        <div class="class-box">
          <h3>종일 클래스</h3>
          <a href="/dashboard/user/class/a_alldayClassPosts">종일 클래스</a>

          <ul class="user-posts">
            <% if (data.allday) { %> <% data.allday.forEach(post => { %>
            <li>
              <a href="/userdashboard/<%= post.dog_id %>">
                <%= post.pet_name %>
              </a>
            </li>
            <% }) %> <% } %>
          </ul>
        </div>

        <div class="class-box">
          <h3>일일 클래스</h3>
          <a href="/dashboard/user/class/a_onedayClassPosts">일일 클래스</a>
          <ul class="admin-posts">
            <% if (data.oneday) { %> <% data.oneday.forEach(post => { %>
            <li>
              <a href="/userdashboard/<%= post.dog_id %>">
                <%= post.pet_name %>
              </a>
            </li>
            <% }) %> <% } %>
          </ul>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>

<!-- views/user/dashboard/userpostlist.ejs -->
